---
import TwoColumsLayout from "@/layouts/TwoColumsLayout.astro";
import type { Resume } from "@/types/resume";
import SectionTitle from "../ui/SectionTitle.astro";
import Badge from "../ui/Badge.astro";
import { useTranslations } from "@/i18n";

const currentLocale = Astro.currentLocale as "en" | "es";
const t = useTranslations(currentLocale);

const { experience } = Astro.props as { experience: Resume["experience"] };
---

<section class="flex flex-col gap-8">
  <TwoColumsLayout className="-mb-6">
    <div slot="aside"></div>
    <div slot="main" class="flex flex-col gap-2 justify-evenly h-full">
      <SectionTitle>
        {t("sections.experience.title")}
      </SectionTitle>
    </div>
  </TwoColumsLayout>
  {
    experience.map((exp) => (
      <TwoColumsLayout>
        <div
          slot="aside"
          class="flex md:flex-col print:flex-col gap-2 justify-between md:justify-normal print:justify-normal"
        >
          <a
            href={exp.companyUrl}
            target="_blank"
            class="hover:underline underline-offset-2 mt-0.5"
          >
            <h4 class="text-lg font-semibold">{exp.company}</h4>
          </a>
          <div class="flex flex-col gap-1">
            <div class="flex items-center gap-2 md:justify-normal print:justify-normal justify-between">
              <p class="text-text-secondary text-sm">{exp.location}</p>
              <Badge>{exp.workType}</Badge>
            </div>
            <p class="italic text-text-secondary text-xs">
              {exp.date.start} - {exp.date.end}
            </p>
          </div>
        </div>
        <div slot="main" class="flex flex-col gap-2 justify-evenly h-full">
          <h4 class="text-xl font-semibold">{exp.role}</h4>
          <p class="text-sm text-text-secondary">{exp.description}</p>

          <p class="font-medium text-sm -mb-2">{t("sections.experience.key_projects")}:</p>
          <ul class="text-sm list-disc ">
            {exp.projects.map((project) => (
              <li class="ml-4">
                <a
                  class="text-xs font-medium hover:underline underline-offset-2"
                  href={project.url}
                  target="_blank"
                >
                  {project.name}
                </a>
                <p class="text-xs font-light text-text-secondary">{project.description}</p>
              </li>
            ))}
          </ul>
          <p class="text-xs font-medium">
            {t("sections.experience.technologies")}:
            <span class="font-light text-text-secondary">{exp.stack.join(", ")}</span>
          </p>
        </div>
      </TwoColumsLayout>
    ))
  }
</section>
